.group_chat{
    height: 60px;
    width: 290px;
    margin: auto;
    /* background-color: yellow; */
}

.item_photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    background-image: url("./img/cat_angry.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item_txt{
    height: 58px;
    width: 230px;
    /* background-color: chartreuse; */
    border-bottom: 2px solid rgb(47, 52, 59);
}

.meme_name{
    margin-top: 10px;
    height: 12px;
    /* background-color: cadetblue; */
}

div.item_txt p{
    font-size: 12px;
    line-height: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.txt_meme{
    color: white;
}

.txt_time{
    color: rgb(152, 157, 161);
}

div.item_txt > div > div {
    width: 185px;
    /* background-color: brown; */
}

.material-icons.custom-icon_volume-off{
    color: rgb(152, 157, 161);
    font-size: 12px;
    font-weight: 600;
}

.meme_date{
    height: 28px;
    background-color: blueviolet;
}

.char_photo{
    height: 15px;
    width: 15px;
}