*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chat{
    height: 620px;
    width: 327px;
    background-color: rgb(26, 34, 45);
}

header{
    height: 120px;
    background-color: rgb(35, 48, 63);
}

#section_chat{
    width: 275px;
    height: 54px;
    margin: auto;
    /* background-color: aqua; */
}

#section_search{
    width: 290px;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    background-color: black;
}

#section_emoji{
    height: 36px;
    width: 280px;
    margin: auto;
    /* background-color: yellow; */
}

.item_flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space_between{
    justify-content: space-between;
}

.space_center{
    justify-content: center;
}
.row_inner{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#section_chat p {
    color: rgb(80, 155, 227);
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section#section_chat div.item_flex_row > p{
    color: white;
    font-weight: 700;
}

section#section_search p{
    color: rgb(152, 157, 161);
    font-weight: 600;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.material-icons.custom-icon_open{
    color: rgb(80, 155, 227);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.material-icons.custom-icon_search{
    color: rgb(152, 157, 161);
    font-size: 20px;
    font-weight: 600;
}

section#section_chat img{
    height: 20px;
}

.item_count{
    background-color: rgb(85, 164, 248);
    height: 16px;
    min-width: 16px;
    border-radius: 8px;
}

.item_count > p {
    color: white;
    font-weight: 600;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 5px;
    line-height: 16px;
}

.item_emoji{
    font-size: 14px;
    margin-right: 3px;
    color: rgb(80, 155, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
